body{
  background-color: grey;
}

.intro {
  color: beige;
  font-style: normal;
  font: times;
  width: 75%;
  font-family: monospace;

}

.intro img{
  border-color: beige;
  border-style: groove;
}
